html
  head
    title Logowania się przez Google
  body
    h1 Podaj dane do logowania
    form
    label(for='first_name') Imię:
    input#first_name.form-control(type='text')
    label(for='last_name') Nazwisko:
    input#last_name.form-control(type='text')
    form
    a(href= url)
      button(type='button') Zaloguj 